@import "../../../definitions.scss";

.header {
  padding-block: 1.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include entry;
  }

  a {
    text-decoration: none;
  }

  .logo {
    display: flex;
    width: 100%;
    max-width: 10rem;
    object-fit: contain;

    svg {
      pointer-events: none;
    }
  }
}
